@import url(../../styles/_colors.scss);

.wrapper {
  padding: 1rem 3rem;
}

.compsWrapper {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  border: 1px solid grey;
}

.flexComp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  strong {
    color: var(--primary);
  }

  h3,
  p {
    margin: 0 0.5rem;
  }

  h3:hover {
    color: var(--primary);
    cursor: pointer;
  }
}
