@import url(../../styles/_colors.scss);
// @import url(../../styles/_colors.scss)

.championsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  .championIcon {
    margin: 1rem;
    border-radius: 50%;
    height: 100px;
    border: 3px solid grey;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 15px #caac6f,
        0 0 20px #caac6f;
    }
  }
}

.tooltipItem {
  display: flex;
  grid-column: 1;
}

.itemHolder {
  position: relative;
  display: flex;
}

.tooltipChamp {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 40%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  width: 300px;
  gap: 0.5rem;
  padding: 0.5rem;

  .tooltipChampIcon {
    grid-row: span 2;
    grid-column: 1;
    display: flex;
    width: 60px;
    height: auto;
    border-radius: 2px;
    border: 2px solid #caac6f;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  gap: 2rem;
  grid-row: span 2;

  .traitName {
    display: flex;
    gap: 0.5rem;
  }

  .costWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    .goldIcon {
      width: 1em;
      height: auto;
    }
  }
}

.championName {
  text-align: center;
}

.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 5;
  bottom: 1.7rem;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.square {
  height: 25px;
  width: 25px;
  border: 2px solid #caac6f;
  position: relative;
  z-index: 10;

  &:hover {
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 15px #caac6f;
    cursor: pointer;
  }
}

.tooltipComponent {
  visibility: hidden;
  background-color: var(--secondary);
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 20;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
  width: 240px;
  gap: 0.5rem;
  padding: 0.5rem;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  h4 {
    grid-column: span 2;
    color: var(--accent);
  }
  p {
    grid-column: span 2;
    text-align: start;
  }
}

.componentsHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 35px;
  }
  h5 {
    font-size: 0.75rem;
    color: var(--accent);
    font-weight: 400;
  }
  p {
    font-size: 0.75rem;
    text-align: center;
  }
}

.btnContainer {
  display: flex;
  flex-direction: column;

  button {
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;

    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }

  label {
    visibility: hidden;
  }
}
