.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;

  img {
    border-radius: 0.5rem;
    text-shadow: 0 -1px 0 #000;
  }
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.05);
}

.slide-btn {
  padding: 10px 15px;
  margin: 20px auto;
  color: var(--accent);
  background-color: rgba(109, 109, 109, 0.097);
  border: 0 none;
  border-radius: 0.5rem;
  text-shadow: 0 -1px 0 #000;
  box-shadow: rgba(0, 0, 0, 0.382) 0px 2px 5px;
  cursor: pointer;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;

  &:hover {
    animation: pulsate 1.2s linear infinite;
  }

  &:active {
    color: #fff;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
    box-shadow: rgba(0, 0, 0, 0.382) 0px 2px 18px;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-animation: none;
    animation: none;
  }
}

@keyframes pulsate {
  0% {
    color: #ddd;
    text-shadow: 0 -1px 0 #000;
  }
  50% {
    color: #fff;
    text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff;
  }
  100% {
    color: #ddd;
    text-shadow: 0 -1px 0 #000;
  }
}
