.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.05);
}

.slide-btn {
  margin: 1rem;
  background: none;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
    color: var(--accent);
  }
}
