$box-shadow: 0 0 5px var(--accent), 0 0 10px var(--accent);
$border: 0.125rem solid var(--accent);

.champs-wrapper {
  position: relative;
}

.tooltip-champ,
.tooltip-component {
  position: absolute;
  left: 50%;
  bottom: 40%;
  transform: translate(-50%, -50%);
  display: grid;
  gap: 0.5rem;
  width: 18rem;
  height: auto;
  padding: 1rem;
  margin-left: 3rem;
  border-radius: 0.3rem;
  border: $border;
  background-color: var(--secondary-light);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.tooltip-champ {
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-items: center;
  font-size: 1rem;
  z-index: 10;

  .tooltip-champ-icon {
    grid-row: span 2;
    grid-column: 1;
    display: flex;
    border-radius: 0.125rem;
    border: $border;
    width: 70px;
    height: 70px;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  h3 {
    font-size: 1.2rem;
  }
}

.champion-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: end;
  gap: 0.2rem;
  grid-row: span 2;

  .trait-name {
    gap: 0.5rem;
  }

  .cost-wrapper {
    align-items: center;
    gap: 0.25rem;

    .gold-icon {
      width: 1em;
      height: auto;
    }
  }
}

.item-holder {
  position: relative;
}

.champion-icon {
  margin: 1rem;
  border-radius: 50%;
  height: 6.25rem;
  border: 0.2rem solid var(--accent);

  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow;
  }
}

.item-wrapper {
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  z-index: 5;
}
.item-icon {
  position: relative;
  height: 25px;
  width: 25px;
  border: $border;
  z-index: 10;

  &:hover {
    box-shadow: $box-shadow;
    cursor: pointer;
  }
}

.tooltip-component {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
  z-index: 20;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  h4 {
    grid-column: span 2;
    color: var(--accent);
  }
  p {
    grid-column: span 2;
    text-align: start;
  }
}

.components-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .component-image {
    width: 50px;
    height: 50px;
    border: $border;
  }

  h5 {
    font-size: 0.75rem;
    color: var(--accent);
    font-weight: 400;
  }
  p {
    font-size: 0.75rem;
  }
}

.champ-name {
  text-align: center;
}
