.footer {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $screen-md) {
    margin-top: 5rem;
  }
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media screen and (min-width: $screen-md) {
    max-width: 80vw;
    gap: 10rem;
    padding: 2rem 0;
  }
}

.footer-contact {
  display: grid;
  justify-items: center;
  align-items: center;

  @media screen and (min-width: $screen-md) {
    grid-template-columns: repeat(2, 1fr);
  }

  h3 {
    font-size: 2rem;
    @media screen and (min-width: $screen-md) {
      grid-column: span 2;
    }
  }
  h4 {
    color: var(--primary);
  }
}

.social {
  display: flex;
  gap: 0.5rem;
}

.copyright {
  p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }
}

.signature {
  margin-top: 1rem;
  font-family: "Calligraphy", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 0.12);
  font-size: 1.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  .link {
    font-weight: 700;
    text-align: end;
  }
}
