body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Raleway", sans-serif;
}

.flex-display {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;

  @media screen and (min-width: $screen-md) {
    padding: 1rem 10rem;
  }
}

.link {
  color: var(--text);

  &:hover {
    color: var(--accent);
    cursor: pointer;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.tier-icon {
  height: 2rem;
}

.sr-only {
  visibility: hidden;
}
