.builder-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}

.hexagon-wrapper {
  &:hover {
    fill: var(--primary);
    cursor: pointer;

    .hexagon {
      fill: rgba(51, 51, 51, 0.194);
    }
  }

  .hexagon {
    fill: var(--secondary);
  }
}

.hexagon-border {
  margin: 0.5rem;
  background-color: rgb(72, 72, 72);
  border: 4px solid rgb(72, 72, 72);
  clip-path: polygon(50% 0, 100% 23%, 100% 74%, 50% 100%, 0 75%, 0 24%);
}

.hexagon-row {
  display: flex;
}

.hexagon-row:nth-of-type(2n) {
  margin-left: 48px;
}

.builder-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
