.navigation-options {
  margin: 0 1rem;
}

.introduction {
  margin-bottom: 3rem;
}

.card-dots {
  height: auto;
  width: auto;
}

.slick-dots.slick-thumb {
  bottom: -50px;

  @media screen and (min-width: $screen-xs) {
    li {
      width: 50px;
    }
  }
}

.home-cards {
  h3 {
    color: var(--text);
    text-align: center;
    margin-bottom: 1rem;
  }

  .card-image {
    width: 33rem;
    height: auto;
    padding: 0 0.25rem;
    filter: grayscale(60%);
  }

  &:hover {
    cursor: pointer;
    h3 {
      color: var(--accent);
    }

    .card-image {
      filter: grayscale(0%);
    }
  }
}

.about-page {
  margin-top: 5rem;
}
