.navigation-options {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.introduction {
  margin-bottom: 3rem;
}
.home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .card-image {
    width: 33rem;
    height: auto;
    filter: grayscale(60%);
    transform: skewX(-5deg);
  }

  &:hover {
    cursor: pointer;
    color: var(--primary);

    .card-image {
      border: 3px solid var(--accent);
      box-shadow: 0 0 5px var(--accent), 0 0 10px var(--accent);
      filter: grayscale(0%);
      transform: skewX(-5deg) translateY(-1.5rem);
    }
  }
}
