.il-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.il-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0;
}

.il-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.il-item {
  h4 {
    margin: 0.5rem;
  }
}

.il-item-img {
  height: 70px;
  width: 70px;
  border: 3px solid rgb(255, 165, 0);
}

.il-components-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.il-component {
  position: relative;

  &:hover {
    cursor: pointer;
    .il-component-details {
      display: flex;
    }
  }
}

.il-component-img {
  height: 50px;
  width: 50px;
}

.il-component-details {
  position: absolute;
  bottom: 2.5rem;
  display: none;
  padding: 0.2rem;
  border-radius: 0.3rem;
  text-align: center;
  background-color: var(--accent);
  color: var(--background);
  width: 200px;
  height: 100px;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
}
