.navbar {
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
