.p-main-wrapper {
  display: grid;
  @media screen and (min-width: $screen-xl) {
    grid-template-columns: 1fr 8fr;
  }
}

.p-content-wrapper {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 5rem;
}

.p-title-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  .btn {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;

    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }
}
.p-title {
  display: flex;
  align-items: center;
}

.p-tier-img {
  width: 50px;
}

.p-trait-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.p-trait-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 25px;
  }
}
.p-champions-wrapper {
  display: flex;

  button {
    display: none;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}
