.content-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.page-title-wrapper {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  .btn {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;

    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }
}

.p-champions-wrapper {
  display: flex;
  grid-column: span 2;

  button {
    display: none;
  }
}

.page-title {
  display: flex;
  align-items: center;
}

.info-card-wrapper {
  gap: 1rem;
  align-items: center;
  background-color: rgb(62, 62, 62);

  .trait-wrapper {
    align-items: center;
    flex-direction: column;
    img {
      height: 2rem;
    }
  }
}
