$border: 0.125rem solid var(--accent);

.sb-search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;

  @media screen and (min-width: $screen-xl) {
    flex-wrap: nowrap;
  }
}

.sb-input-wrapper {
  position: relative;
  width: 47%;

  @media screen and (min-width: $screen-xl) {
    width: 40%;
  }
}

.sb-search-btn {
  width: 47%;
  height: 3rem;
  background-color: var(--secondary);
  border: 0.125rem solid var(--secondary);
  border-radius: 0.5rem;
  text-align: center;
  display: inline-block;
  transition: all 0.3s;

  @media screen and (min-width: $screen-xl) {
    width: 15%;
  }

  &:hover {
    border: $border;
    cursor: pointer;
  }
}

input {
  height: 3rem;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;

  background-color: rgb(91, 91, 91);
  border: 0.125rem solid var(--secondary);
  border-radius: 0.5rem;
  resize: none;

  &:hover {
    border: $border;
  }
}
