$border: 0.125rem solid var(--accent);

.comps-wrapper {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--secondary);
  border: 0.125rem solid var(--secondary);
  transition: all 0.3s;

  &:hover {
    border: $border;
  }
}

.comps-info {
  justify-content: space-between;
  align-items: center;

  .comps-title {
    align-items: center;
  }

  strong {
    color: var(--accent);
  }

  h3,
  p {
    margin: 0 0.5rem;
  }

  h3:hover {
    color: var(--primary);
    cursor: pointer;
  }
}

.comps-traits {
  display: none;
}
