@import "reset";
@import "colors";
@import "breakpoints";
@import "btn";

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Raleway", sans-serif;
}

.mainWrapper {
  display: grid;
  @media screen and (min-width: $screen-xl) {
    grid-template-columns: 1fr 8fr;
  }
}

h1 {
  text-align: center;
  padding: 2rem 0;
}
