.contentWrapper {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  img {
    width: 300px;
  }
}

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  display: flex;

  &:hover {
    cursor: pointer;
    color: var(--primary);
  }
}
