.contentWrapper {
  display: flex;
  justify-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 5rem;
}

.titleWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  .btn {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;

    &:hover {
      cursor: pointer;
      color: var(--primary);
    }
  }
}

.title {
  display: flex;
  align-items: center;
}

.tierImage {
  width: 50px;
}

.traitWrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.traitName {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 25px;
  }
}
.championsWrapper {
  display: flex;

  button {
    display: none;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}
